/* Apply styles to the scrollbar */

::-webkit-scrollbar {
  width: 16px;
  /* Width of the scrollbar */
}

body {
  background-color: #f8f9fa;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
  overflow-x: auto;
}


/* ShowMore */

.table-responsive {
  max-height: 500px;
  overflow-y: scroll;
}

.table thead {
  background-color: #343a40;
  color: white;
}

.table-hover tbody tr:hover {
  background-color: #9ca6b2;
}

#filterColumn,
#filterInput {
  max-width: 400px;
}

.counting {
  background-color: rgb(36, 36, 84);
}

.status-counter {
  color: aliceblue;
  border-radius: 20px;
  padding: 20px;
}


/* Counter Section */

.counter {
  width: 100%;
  height: 40vh;
  margin-top: 50px;
  background-color: rgb(36, 36, 84);
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
}

.counter1,
.counter2,
.counter3 {
  margin-top: 3%;
  background-color: #9ca6b2;
  width: 20%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #f8f9fa;
  font-size: 30px;
  border-radius: 10px;
}

#clearFilterButton {
  background-color: rgb(185, 198, 198);
  color: rgb(36, 36, 84);
  border: 1px solid transparent;
  height: 50px;
  margin-top: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#complaintsTable {
  width: 100%;
  /* Adjust as needed */
  border-collapse: collapse;
}

#complaintsTable th,
#complaintsTable td {
  padding: 8px;
}

#complaintsTableBody {
  max-height: 400px;
  overflow-y: auto;
}


/*showMore*/

.content {
  height: 100px;
  overflow-y: hidden;
}


/* Responsive Design for Smaller Screens */

@media (max-width: 426px) {
  .container {
    padding: 10px;
    overflow-x: hidden;
  }

  h2 {
    font-size: 1.5rem;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .table {
    font-size: 15px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .table th,
  .table td {
    min-width: 100px;
    padding: 8px;
  }

  .counter {
    margin-left: 65px;
  }
}
